<div class="jumbotron mt-5 text-center " id="jumbo" style="background-image: url(<%= asset_path 'background.jpg' %>)">
  <h1 class="display-4 font-weight-bold">File Cabinet App</h1>
  <p class="lead font-weight-bold">The File Cabinet App is a digital solution aimed at streamlining the organization, storage, and retrieval of digital documents, photos, videos, and any other file types. By simulating the familiar structure of a traditional file cabinet, the app offers an intuitive user interface that allows users to create virtual "drawers" and "folders" for organizing their files.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <% if session[:user_id].present? %>
  <% else %>
  <%= link_to 'Signup', signup_path, class:"btn btn-success btn-lg" %>
  <% end %>
</div>